.App {
  height: 100vh;
  margin: auto;
  background-color: grey;
  display: flex;
  justify-content: space-around;
  overflow: auto;
}
.deck {
  width: 219px;
  height: 250px;
  background-color: grey;
}
.card {
  position: absolute;
  perspective: 1000px;
  width: 219px;
  height: 250px;
}
.flipper {
  transition: 1s;
  transform-style: preserve-3d;
}
.card p {
  margin: 0;
  padding: 11%;
  height: 0;
}
.card.white .front, .card.white .back{
  background-color: white;
  color: black;
  width: 219px;
  height: 250px;
}
.card.black .front, .card.black .back{
  background-color: black;
  color: white;
  width: 219px;
  height: 250px;
}
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.back {
  transform: rotateY(0deg);
}
.front {
  transform: rotateY(180deg);
}
.card.black.up{
  transform: translateY(400px) rotateZ(180deg) rotateX(180deg);
}
.card.white.in-hand{
  transform: translateY(400px);
}
.card.white.up{
  transform: translateY(400px) rotateY(180deg);
}
