.App {
  height: 100vh;
  margin: auto;
  background-color: grey;
  display: flex;
  justify-content: space-around;
  overflow: auto;
}
.deck {
  width: 219px;
  height: 250px;
  background-color: grey;
}
.card {
  perspective: 1000px;
  width: 219px;
  height: 250px;
  margin: 10px;
}
.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
.card p {
  margin: 0;
  padding: 11%;
  height: 0;
}
.card.white .front, .card.white .back{
  border-bottom: 1px solid black;
  background-color: white;
  color: black;
  width: 219px;
  height: 250px;
}
.card.black .front, .card.black .back{
  border-bottom: 1px solid white;
  background-color: black;
  color: white;
  width: 219px;
  height: 250px;
}
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.back {
  transform: rotateY(0deg);
}
.front {
  transform: rotateY(180deg);
}
.card.up{
  transform: rotateY(180deg);
}
